In [2]:
import pandas as pd
import glob
import os

### CSV 파일 하나로 합치기

In [5]:
input_path = r'C:\Users\KB\study\python\Quest\Data' # csv파일들이 있는 디렉토리 위치
output_file = r'C:\Users\KB\study\python\Quest\Data\Total.csv' # 저장 파일명

file_list = glob.glob(os.path.join(input_path, '*.csv')) # 모든 scv파일 선택

with open(output_file, 'w') as write_file:
	for i, file_name in enumerate (file_list):
		with open(file_name, 'r') as original_file: # 파일 읽어오기
			n = 0
			while True:
				line = original_file.readline()
				if n == 0: # 모든 csv 파일 릴레이션 삭제
				# if i != 0 and n == 0: # 첫 번쨰 파일이 아니고, 첫 번쨰 라인인 경우 (릴레이션)
					n += 1
					continue
				if not line:
					print(f'File[{i}] Succeed..!')
					break
				write_file.write(line)
			n += 1

print('File Mergin Succeed..!')

File[0] Succeed..!
File[1] Succeed..!
File[2] Succeed..!
File Mergin Succeed..!

### CSV Row 추가
 - 각 파일에 있던 구분 Row는 합쳐지면서 사라짐
 - 구분 Row 생성 필요하다고 판단하여 생성

In [13]:
from csv import writer

In [8]:
newrow = ["구분",  2004,  2005,  2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [16]:
# appendNewRow("Data/Total.csv", newrow)
with open("Data/Total.csv", 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
    writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
    writer_object.writerow(newrow)  
    # Close the file object
    f_object.close()

### CSV 파일 읽어오기

In [4]:
df=pd.read_csv("Data/Total.csv", encoding="euc-kr")

#### 유니코드 에러 발생
- UnicodeDecodeError 에러 발생
- encoding="euc-kr" 추가로 해결

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   18세 미만  27 non-null     object
 1   1       27 non-null     int64
 2   1.1     27 non-null     int64
 3   0       27 non-null     int64
 4   1.2     27 non-null     int64
 5   4       27 non-null     int64
 6   2       27 non-null     int64
 7   2.1     27 non-null     int64
 8   3       27 non-null     int64
 9   2.2     27 non-null     int64
 10  2.3     27 non-null     int64
 11  2.4     27 non-null     int64
 12  1.3     27 non-null     int64
 13  1.4     27 non-null     int64
 14  0.1     27 non-null     int64
 15  2.5     27 non-null     int64
 16  0.2     27 non-null     int64
 17  0.3     27 non-null     int64
 18  0.4     27 non-null     int64
dtypes: int64(18), object(1)
memory usage: 4.1+ KB

In [6]:
df.sample()

,18세 미만,1,1.1,0,1.2,4,2,2.1,3,2.2,2.3,2.4,1.3,1.4,0.1,2.5,0.2,0.3,0.4
11,75세 ~ 79세,15,25,22,25,33,36,34,32,26,32,41,52,47,92,81,91,106,96

#### 칼럼 열에 문제 생김